/dockprom
/backup
/compose/data/elasticsearch
/compose/data/wordlists/*
/compose/data/mantisbt
/compose/data/mantisbt_db
.DS_Store
/compose/.env
/compose/dockprom/
/compose/logs
compose/conf/keycloak/realm-export.json
