/dockprom
/backup
/compose/data/elasticsearch
/compose/data/wordlists/*
/compose/data/mantisbt
/compose/data/mantisbt_db
.DS_Store
/compose/.env
/compose/logs
compose/conf/keycloak/realm-export.json
compose/conf/redscan-rproxy/redscan.conf
compose/conf/redscan-subfinder/app/provider-config.yaml
compose/dockprom
