.container {
  max-width: 100% !important;
}

.btn-group > .btn {
  font-size: small; 
}

.card {
  border-color: rgb(247, 248, 249) !important;
  border-width: 2px;
}

.table {
  --bs-table-hover-bg: rgba(108, 117, 125, 0.05);
}

thead > tr > th {
  font-weight: 400;
  background-color: rgb(247, 248, 249) !important;
  border-color: rgb(247, 248, 249) !important;
  text-align: center;
}

thead, thead > tr {
  border-color: rgb(247, 248, 249) !important;
}

tbody > tr > td {
  border-color: rgb(247, 248, 249) !important;
  border-width: 2px !important;
  text-align: center;
}

tbody > tr:last-child > td {
  border-bottom-width: 0.1px !important;
}

tbody > tr > td:first-child {
  border-left-width: 0.1px !important;
}

tbody > tr > td:last-child {
  border-right-width: 0.1px !important;
}

.positive {
  background-color: rgb(203, 232, 186) !important;
  color: rgb(92, 184, 92) !important;
}

.negative {
  background-color: rgb(255, 180, 176) !important;
  color: rgb(183, 15, 10) !important;
}

.btn-link:hover {
  background-color: transparent !important;
  opacity: 50%;
}