.pagination {
  --bs-pagination-border-color: rgb(247, 248, 249) !important;
  --bs-pagination-border-width: 2px !important;
}

.pagination > li > a, .pagination > li > span {
  font-weight: 400;
  color: rgb(108, 117, 125);
  font-size: small;
}

a:hover {
  color: rgb(108, 117, 125) !important;
  border-color: rgb(247, 248, 249) !important;
}

.disabled > span, .active > .page-link {
  border-color: rgb(247, 248, 249) !important;
  border-width: 2px;
}

.disabled > span {
  background-color: white !important;
}

.active > .page-link {
  background-color: rgb(247, 248, 249) !important;
  color: rgb(108, 117, 125) !important;
  border-color: rgb(247, 248, 249) !important;
  font-weight: 500 !important;
}
