#
# Manage Alerts environment properties for REDSCAN.
# ex: https://outlook.office.com/webhook/<blah>
#
TEAMS_WEBHOOK_URL=§TEAMS_WEBHOOK_URL§
MAIL_HOST=§MAIL_HOST§
MAIL_PORT=587
MAIL_RECIPIENTS=§MAIL_RECIPIENTS§
MAIL_SENDER=§MAIL_SENDER§
MAIL_PASSWORD=§MAIL_PASSWORD§