KEYCLOAK_ADMIN=§KEYCLOAK_USER§
KEYCLOAK_ADMIN_PASSWORD=§KEYCLOAK_PASSWORD§
PROXY_ADDRESS_FORWARDING=true
KEYCLOAK_IMPORT="/opt/keycloak/data/import/realm-export.json -Dkeycloak.profile.feature.upload_scripts=enabled"
DB_VENDOR=h2
