#
# Manage Magellan scan properties.
#
#By Default the scheduled task is executed each hour and brand has been reinjected each week.
MAGELLAN_BRANDS_CRON="0 0 * * * * "
MAGELLAN_BRANDS_GOLD_SCAN_PERIOD=7
MAGELLAN_BRANDS_SILVER_SCAN_PERIOD=14
MAGELLAN_BRANDS_BRONZE_SCAN_PERIOD=30

#By Default the scheduled task is executed each hour and brand has been reinjected each week.
MAGELLAN_IPRANGES_CRON="0 0 * * * * "
MAGELLAN_IPRANGES_GOLD_SCAN_PERIOD=7
MAGELLAN_IPRANGES_SILVER_SCAN_PERIOD=14
MAGELLAN_IPRANGES_BRONZE_SCAN_PERIOD=30

#By Default the scheduled task is executed each hour and brand has been reinjected each week.
MAGELLAN_MASTERDOMAINS_CRON="0 30 * * * ?"
MAGELLAN_MASTERDOMAINS_GOLD_SCAN_PERIOD=7
MAGELLAN_MASTERDOMAINS_SILVER_SCAN_PERIOD=14
MAGELLAN_MASTERDOMAINS_BRONZE_SCAN_PERIOD=30 
