BASE_URL=https://§HOSTNAME§/mantisbt/
SHORT_PATH=/mantisbt
MANTIS_ENABLE_ADMIN=0
MASTER_SALT=hcas1TM1psj9I5ojGPwEi9FgxgCgEUDqHkIRe8gOFkVkLB57+EMT4IzVrXneFj5fAE8n+VDZfM3ohJE720c/PA==
MYSQL_HOST=mantisbtdb
MYSQL_DATABASE=bugtracker
MYSQL_USER=mantis
MYSQL_PASSWORD=mantis
EMAIL_WEBMASTER=webmaster@localhost
EMAIL_FROM=webmaster@localhost
EMAIL_RETURN_PATH=webmaster@localhost