#
# Manage global environment properties for REDSCAN.
#
SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=5672
DATALAKE_ELASTIC_URL=http://elasticsearch:9200
DATALAKE_ELASTIC_USERNAME=
DATALAKE_ELASTIC_PASSWORD=
CACHE_MANAGER_URL=http://redscan-cache:8080